body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1d2b53;
}

.app {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.buttons {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 20px;
    background-color: #1d2b53;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.button {
    margin: 5px auto;
    border-radius: 50px;
    box-shadow: 0 4px 0 #0686b2;
    background: #7e2553;
    color: #faef5d;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
}

.button:hover {
    opacity: 0.8;
}

.playing {
    background-color: #ff004d;
}

.button:active {
    background-color: #ff0FF004D000;
}

h1 {
    position: relative;
    padding: 0.6em;
    background: #e0edff;
}

h1:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
    width: 0;
    height: 0;
}
